#encabezado {
    background: blue;
    height: 100px;
    width: auto;
}

#social_links {
    background: blue;
    height: 100%;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#texto_contador {
    padding: 20px;
    color: blue;
    font-family: monospace;
}

#texto_visitante {
    margin-top: 20px;
}

#social_links ul {
    list-style-type: none;
    margin: 0;
}

#social_links ul li a:hover i {
    background: #2D373D;
}

#social_links a {
    color: white;
}

#social_links ul li {
    display: inline;
}

#social_links .fa {
    border: 2px white solid;
    border-radius: 50%;
    font-size: 40px;
    padding: 10px 15px;
    margin-right: 20px;
}

#social_links .fa-twitter {
    padding: 10px 13px;
}

#social_links .fa-facebook {
    padding: 10px 20px;
}

#social_links .fa-google-plus {
    padding: 10px 7px;
}

#seccion_descripcion img {
    width: 150px;
}
